COINBASE_API_KEY=17d2bb17-dfa5-4e96-bf7a-6813d751c4a3
COINBASE_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIJK8tyAqkMKE4/LoSqwmKxO3j4vksjidAm7QJlUrTHzIoAoGCCqGSM49
AwEHoUQDQgAEljS43Qh0a4og9VYvHQpVK5SmDW1pYgFhUfhzRPFXKLY6n68gAefz
KVq5Gt56YAP4HyxXoVeGV3gjqTinth+SKQ==
-----END EC PRIVATE KEY-----
